* {
    margin: 0;
    padding: 0;
}

.tic-tac-toe-grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.grid-row {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px pink;
}

.grid-cell {
    border-right: solid 2px pink;
    text-align: center;
    font-size: 1rem;
    padding: 1.5em;
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    font-size: 1.5rem;
}

.grid-cell:last-child {
    border-right: none;
}

.grid-cell:hover {
    cursor: pointer;
}

.grid-row:last-child {
    border-bottom: none;
}

.winner {
    display: none;
}

.errors {
    display: none;
}

.shown {
    display: block;
    text-align: center;
    margin-top: 1em;
    font-size: 1.5rem;
}

.game-buttons {
    width: 50%;
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
}

.players {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 1em auto;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.player-turn,
.game-over {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
}

.hidden {
    display: none;
}