* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-height: 100vh;
}

.title {
    text-align: center;
}

.tic-tac-toe-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.grid-row {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px pink;
}

.grid-cell {
    border-right: solid 2px pink;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    flex: 0 0 100px;
    height: 100px;
    font-size: 2rem;
    aspect-ratio: 1/1;
}

.grid-cell:last-child {
    border-right: none;
}

.grid-cell:hover {
    cursor: pointer;
}

.grid-row:last-child {
    border-bottom: none;
}

.winner {
    display: none;
}

.shown {
    display: block;
    text-align: center;
    margin-top: 1em;
}

.game-buttons {
    width: 50%;
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
}

.players {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 1em auto;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.player-turn,
.game-over {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.hidden {
    display: none;
}

.unclickable {
    pointer-events: none;
}